//Pantalla que muestra el número ganador
    y lleva a mostrar cuál fue el jugador que ganó la apuesta
    @author Wendy Arcila

html
    head
        title Dados
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

    body
        h1= "El número ganador es: " + winner


        form(method='GET' action='http://localhost:8080/game/' + id +'/winner/'+ winner)
            button.btn.btn-primary(type="submit", name="get", href='http://localhost:8080/game/' + id) Ver ganador

