//Pantalla que muestra el jugador ganador

html
    head
        title Dados
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')

    body
        h1= winner

